# dependencies (bun install)
node_modules/

# output
out/
dist/
*.tgz

# code coverage
coverage/
*.lcov

# logs
logs/
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea/
.vscode/

# Finder (MacOS) folder config
.DS_Store

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
env/
ENV/

# IDE
*.swp
*.swo

# Executables
*.exe
preinstalled_executables/

# Distribution / packaging
build/
*.egg-info/
